
<head>
    <title>Comments of Whitelights</title>
    <h1 class="page_header">Comments</h1>
    <link rel="stylesheet" href="team86_style.css">
</head>


<style>
    table, th, td {
        border: 1px solid black;
    }

</style>

<script src="/comments-frontend.js"></script>

<div class="nav_list">
            <nav>
                <ul class="Navigation">
                    <li class="link"><a class="nav_link" href="/index.html">Home</a></li>
                    <li class="link"><a class="nav_link" href="/users">Users</a></li>
                    <li class="link"><a class="nav_link" href="/videos">Videos</a></li>
                    <li class="link"><a class="nav_link" href="/competitions">Competitions</a></li>
                    <li class = "link_current"><strong>Comments</strong></li>
                    <li class="link"><a class="nav_link" href="/videos_competitions">Videos/Competitions</a></li>
                </ul>
            </nav>
        </div>
    </div>

<form action="/comments/insert" action="get">
  <fieldset>
    <legend>Upload Your Comment</legend>
    <label for="uid">Enter Your Username: </label>
    <input type="text" name="uid" id="uid">
    <label for="vid">Enter the Title of the Video You Wish To Comment On: </label>
    <input type="text" name="vid" id="vid">
    <label for="description">Enter Your Comment: </label>
    <input type="text" name="description" id="description">
    <label for="light_score">What Would You Score It (enter TRUE for a White Light and FALSE for a Red Light): </label>
    <input type="text" name="light_score" id="light_score">
    <input type="submit" id="commentSubmit" value="INPUT COMMENT">
  </fieldset>
</form>

<form action="/comments/delete" action="get">
  <fieldset>
    <legend>Delete a Comment</legend>
    <label for="comment_id">Enter the ID of the Comment to Delete: </label>
    <input type="text" name="comment_id" id="comment_id">
    <input type="submit" id = "deleteSubmit" value="DELETE COMMENT">
  </fieldset>
</form>


<form action="/comments/edit" action="get">
  <fieldset>
    <legend>Edit a Comment</legend>
    <label for="comment_id_edit">Enter the ID of the Comment to Delete: </label>
    <input type="text" name="comment_id_edit" id="comment_id_edit">
    <input type="submit" id = "editSubmit" value="EDIT COMMENT">
  </fieldset>
</form>



<table class= "bodydiv">

    <tr>

        <th>UID</th>
        <th>VID</th>
        <th>Comment</th>
        <th>Light Score</th>
        
    </tr>

    {{#each results}}
    <tr>
        
        <td>{{this.uid}}</td>
        <td>{{this.vid}}</td>
        <td>{{this.description}}</td>
        <td>{{this.light_score}}</td>
        
    </tr>
    {{/each}}
   
</table>
